<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxFlex="1 1 95">
        <div class="flex-item">
          <h3>
            Check-in
          </h3>
        </div>
        <div class="flex-item">
          <form [formGroup]="agendamentoCtrl" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <p>Profissional: {{profissional.nome}}</p>
            <p>Cliente: {{cliente.nome}}</p>
            <p>Salão: {{salao.nome}}</p>
            <p>Serviço: {{servico.nome}}</p>
            <p>Horário: {{agendamento.inicioServico}} a {{agendamento.fimServico}}</p>
          </form>
          <div fxLayoutAlign="begin">
            <button color="primary" mat-raised-button class="animated jackInTheBox" (click)="associar()">Registrar</button>
            <button color="primary" mat-button class="animated jackInTheBox" routerLink="/layout/agendamento">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
