<p>historico works!</p>
<div
  class="login-container mybarber-bg-primary"
  fxFlexFill
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxFlex="1 1 90"
    fxLayoutGap="7%"
  >
    <div class="login-form-container flex-item" fxLayoutAlign="center stretch">
      <mat-card
        fxLayout="column"
        class="form-login animated jackInTheBox"
        fxLayoutAlign="stretch"
        fxFlex="1 1 100"
        fxFlex.gt-xs="55"
        fxFlex.gt-sm="40"
      >
        <h2>Histórico</h2>

        <div>
          <mat-button-toggle
            class="add-button animated jackInTheBox delay-1s button"
            routerLink="/"
            >Voltar</mat-button-toggle
          >
        </div>
      </mat-card>
    </div>
  </div>
</div>
