<div class="login-container mybarber-bg-primary" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1 90" fxLayoutGap="7%">
      <div class="login-form-container flex-item" fxLayoutAlign="center stretch">
        <mat-card fxLayout="column" class="form-login animated jackInTheBox" fxLayoutAlign="stretch" fxFlex="1 1 100" fxFlex.gt-xs="55"
          fxFlex.gt-sm="40">
          <h2>Salões Disponíveis</h2>
          <form [formGroup]="clienteForm" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="7%">
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Salao selection">
                  <mat-chip
                    *ngFor="let salao of saloes"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(salao)">
                    {{salao.nome}}
                    <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New salao..."
                    #salaoInput
                    [formControl]="salaoCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let salao of filteredSaloes | async" [value]="salao">
                    {{salao.nome}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              
  
            <div fxLayoutAlign="space-between">
              <mat-button-toggle class="add-button animated jackInTheBox delay-1s button" (click)="associar()">
                Salvar</mat-button-toggle>
              <mat-button-toggle class="add-button animated jackInTheBox delay-1s button" routerLink="/">
                Cancelar</mat-button-toggle>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>