<div class="login-container mybarber-bg-primary" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1 90" fxLayoutGap="7%">
      <div class="login-form-container flex-item" fxLayoutAlign="center stretch" >
        <mat-card fxLayout="column" class="form-login" fxLayoutAlign="stretch" fxFlex="1 1 100" fxFlex.gt-xs="55"  fxFlex.gt-sm="40">
          <h2>Associar Serviços</h2>
          <form [formGroup]="servicosForm" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="7%" (ngSubmit)="submit()">
            <label formArrayName="servicos" *ngFor="let servico of servicosForm.controls.servicos.controls; let i = index">
                <input type="checkbox" [formControlName]="i" />
                    {{dataSource[i].nome}}
            </label>
            <button>Concluir</button>

          </form>
        </mat-card>
    </div>
    </div>
    <router-outlet></router-outlet>
</div>
