<div class="login-container mybarber-bg-primary" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1 90" fxLayoutGap="7%">
    <div class="login-form-container flex-item" fxLayoutAlign="center stretch" >
      <mat-card fxLayout="column" class="form-login" fxLayoutAlign="stretch" fxFlex="1 1 100" fxFlex.gt-xs="55"  fxFlex.gt-sm="40">
        <h2>Novo Cliente</h2>
        <form [formGroup]="clienteForm" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="7%">
          <mat-form-field>
            <input matInput placeholder="Nome Completo" formControlName="nomeCompleto" maxlength="60">
            <mat-error *ngIf="hasError('nomeCompleto', 'required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefone" formControlName="telefone" maxlength="10">
            <mat-error *ngIf="hasError('telefone', 'required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" email="true" maxlength="50">
            <mat-error *ngIf="hasError('email', 'required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">E-mail com formato inválido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Senha" maxlength="8">
            <mat-error *ngIf="hasError('password', 'required')">Campo obrigatório</mat-error>
          </mat-form-field>

          <div fxLayoutAlign="space-between">
            <button mat-raised-button>Cadastrar</button>
            <button mat-button routerLink="/">Cancelar</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
