<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center">
      <div  fxLayout="column" fxFlex="1 1 95">

        <div class="flex-item">
          <h3>
            Agendamentos
          </h3>
        </div>

        <div class="flex-item">
          <app-tabela-agendamentos
            fxLayoutAlign="center"
            [displayedColumns]="['cliente', 'servico', 'horario', 'local', 'status', 'checkinprofissional']"
            [agendamentos]="profissional.agendamentos"></app-tabela-agendamentos>
        </div>
      </div>
    </div>
  </div>
</div>

