table {
  width: 100%;
}

table.mat-table {
  display: table;
}

th.mat-header-cell
{
  text-align: center;
}

th {
  border-bottom: 3px solid;
  text-align: center;
}


th {
  border-bottom: none;
  text-align: center;
}

td.mat-cell {
  padding: 5px ;
  border: none;
  text-align: center;
}

tr.mat-row {
  border: none;
  text-align: center;
}