<div class="login-container mybarber-bg-primary" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1 90" fxLayoutGap="7%">

    <div class="logo-container flex-item"  fxLayoutAlign="center center" fxFlex="1 1 100">
      <img src="assets/img/logo.png" class="logo" alt="logo" fxFlex="1 1 45" fxFlex.gt-xs="35" fxFlex.gt-sm="20">
    </div>

    <div class="login-form-container flex-item" fxLayoutAlign="center stretch" >
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle routerLink="/cadastrocliente">
          Cliente
        </mat-button-toggle>
        <mat-button-toggle routerLink="/cadastrocliente">
          Professional
        </mat-button-toggle>
      </mat-button-toggle-group>

    </div>



  </div>
</div>
