<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="over" #sidenav>
    <mat-list>

      <mat-list-item [routerLink]="['/home']" (click)="sidenav.toggle()">
        <mat-icon color="primary">home</mat-icon> Home
      </mat-list-item>

      <mat-list-item routerLink="/historico" (click)="sidenav.toggle()">
        <mat-icon color="primary">history</mat-icon> Histórico de Atendimentos
      </mat-list-item>

      <mat-list-item routerLink="/layout/agendamento" (click)="sidenav.toggle()" *ngIf="isCliente">
        <mat-icon color="primary">add</mat-icon> Agendar Atendimento
      </mat-list-item>

      <mat-list-item (click)="logout(); sidenav.toggle()">
        <mat-icon color="primary">close</mat-icon> Logout
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon> <span class="toolbar-tittle">My Barber</span>
    </mat-toolbar>

    <router-outlet>
      <!-- conteudo entra aqui! -->
    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
