<div class="login-container mybarber-bg-primary" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1 90" fxLayoutGap="7%">
            
            <div class="logo-container flex-item"  fxLayoutAlign="center center" fxFlex="1 1 100">
                <img src="assets/img/logo.png" class="logo animated bounceIn slow delay-1s" alt="logo" fxFlex="1 1 45" fxFlex.gt-xs="35" fxFlex.gt-sm="20">
            </div>
            <div class="login-form-container flex-item" fxLayoutAlign="center stretch" >
                <mat-card fxLayout="column" class="form-login animated jackInTheBox" fxLayoutAlign="stretch" fxFlex="1 1 100" fxFlex.gt-xs="55"  fxFlex.gt-sm="40">
                    <form fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="7%">
                        <mat-form-field>
                            <input type="text" matInput name="username" placeholder="Usuario" [(ngModel)]="login.username" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" name="password" placeholder="Senha" [(ngModel)]="login.password" required>
                        </mat-form-field>

                        <div fxLayoutAlign="space-between">
                            <mat-button-toggle class="add-button animated jackInTheBox delay-1s button" routerLink="/selecionaperfil">Criar Conta</mat-button-toggle>
                            <mat-button-toggle class="add-button animated jackInTheBox delay-1s button" (click)="entrar()">Entrar </mat-button-toggle>
                        </div>
                        
                    </form>
                </mat-card>
                
            </div>
        </div>
</div>

