
asfdasdfasdfasfdad
<form (ngSubmit)="login()">
  <div class="container" fxLayout="row" fxLayoutAlign="center">

      <div>
          <img src="assets/img/logo.png">
      </div>

      <div class="form-login">
          <mat-card>
              <mat-form-field>
                  <input matInput name="Usuario">
              </mat-form-field>

              <mat-form-field>
                  <input matInput name="Senha">
              </mat-form-field>
          </mat-card>
      </div>
  </div>
</form>